{
	frankenphp
	order php_server before file_server
}

# The domain name of your server
dev-loger.neatlancer.com {
	root * public/
	encode zstd gzip
	php_server {
		resolve_root_symlink
	}

    mercure {
		# Publisher JWT key
		publisher_jwt !ChangeThisMercureHubJWTSecretKey!
		# Subscriber JWT key
		subscriber_jwt !ChangeThisMercureHubJWTSecretKey!
	}
}
