name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - name: Install Dependencies
      uses: actions/cache@v1
      with:
        path: ~/.composer/cache/files
        key: php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1.2'
        extensions: bcmath, ctype, dom, fileinfo, intl, gd, json, mbstring, pdo, pdo_sqlite, openssl, sqlite, xml, zip

    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.testing.example', '.env');"

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite

    - name: Install Composer
      run: composer test

    - name: Build fronted
      env:
        APP_URL: ${{ secrets.DO_APP_URL }}
        ASSET_URL: ${{ secrets.DO_APP_URL }}
      run: npm install ; npm run build

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DO_DOPLET_SECRET }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }}  >> ~/.ssh/known_hosts

      - name: Store live name
        run: git remote add live ${{ secrets.DO_REPO_URL }}

      - name: Deploy with git
        run: git push live ${{ GITHUB_REF }}:master

      - name: Update Composer PHP
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.DO_DOPLET_SECRET }}
          script: |
            cd /var/www/loger.com
            composer update --ignore-platform-reqs
